body {

}

.container{

}

.vehicle-content{
    border-radius: 7px;
    background: rgb(208, 208, 208);
    margin: 20px;
    padding: 10px;
}

.vehicle-content .row{
    margin-top: 10px;
    margin-bottom: 10px;
}

h5{
    display: inline;
    font-size: 16px;
    font-weight: bold !important;
}

.btn-create{
    margin: 10px 0 !important;
}

.create-alert{
    display: none;
}

